<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--	<link rel="manifest" href="/etc/manifests/manifest.json">-->
	<meta name="theme-color" content="#4A8FCC">
	<meta name="description" content="">
	<title></title>
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
<!--	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,700|IBM+Plex+Mono:400,500,700|IBM+Plex+Serif:300,400,700&display=swap" rel="stylesheet">-->
	<style>html,body{background-color: #f4f4f4; width: 100%;height:100%;padding:0;margin: 0;display:block;font-family:'IBM Plex Sans','Helvetica Neue',Arial,sans-serif;overflow:hidden!important;}</style>
	<style>
		.epm-splash-screen{width:100%;height:100%;position:absolute;left:0;top:0;z-index:99999999999;background-color:#f2f4f8; visibility: visible; transition:visibility 0.38s linear,opacity 0.35s ease-in;} .epm-splash-screen.__is-hidden{opacity: 0; visibility: hidden; } .epm-splash-screen .epm-splash-screen-content{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;height:100%;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.epm-splash-screen .epm-splash-screen-content .epm-splash-screen-svg-wrapper{width:250px;height:250px;border-radius:50%;background-color:#4589ff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.epm-splash-screen .epm-splash-screen-content .epm-splash-screen-svg-wrapper svg{width:auto;height:141px;max-width:100%;}.epm-splash-screen .epm-splash-screen-content .epm-splash-screen-title-wrapper{margin:24px 0;width:100%;text-align:center;min-height:180px;color:#393939}.epm-splash-screen .epm-splash-screen-content .epm-splash-screen-title-wrapper .epm-splash-screen-title{position:relative;font-size:1.8em;font-family:inherit;}"
	</style>
<!--	<link rel="stylesheet" type="text/css" href="/admin_module/dist/css/dependencies.css">-->
<!--	<link rel="stylesheet" type="text/css" href="/admin_module/dist/css/style.css" media="print" onload="this.media='all'">-->
</head>
<body>
	<div id="slm-app"></div>

<noscript>Your browser does not support Script at this time</noscript>

<script async src="/admin_module/service-worker-registration.js"></script>
</body>
</html>
