@import "variables";


.bg-primary-brand-color {
	background-color: $primary-brand-color;
}

.text-primary-brand-color {
	color: $primary-brand-color;
}

.bg-secondary-brand-color {
	background-color: $secondary-brand-color;
}

.text-secondary-brand-color {
	color: $secondary-brand-color;
}