$primary-light-color: #FFFFFF;
$secondary-light-color: #FFFFFF;

$primary-dark-color: #FFFFFF;
$secondary-dark-color: #FFFFFF;

$title-font-stack: 'Montserrat', sans-serif;
$title-font-weight: 300;

$regular-font-stack: 'Source Sans Pro', sans-serif;
$regular-font-weight: 400;



